@model ISMNewsPortal.Models.AdminViewCollection

@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<h1>Admin list</h1>
@if (Model.AdminViews.Any())
{
    foreach (ISMNewsPortal.Models.AdminView adminView in Model.AdminViews)
    {
        <hr />
        <div class="news-item">
            <h2>@adminView.UserName</h2>
            <p>Admin Id: @adminView.AdminId</p>
            <p>User Id: @adminView.UserId</p>
            <p>Access level: @adminView.AdminAccessLevel</p>
            @if (Model.AccessLevel > 2)
            {
                @Html.ActionLink("Level up access level", "LevelUpAdmin", "Admin", new { @id = adminView.AdminId }, new { });
            }
            @if (Model.AccessLevel == 4)
            {
                @Html.ActionLink("Delete admin", "DeleteAdmin", "Admin", new { @id = adminView.AdminId }, new { });
            }
        </div>

    }
}