@model ISMNewsPortal.Models.AdminViewModelCollection
@using ISMNewsPortal.Helpers

@{
    Layout = "~/Views/Shared/_Admin.cshtml";
    ViewBag.Title = Language.Language.AdminsList;
}
<h1>@Language.Language.AdminsList</h1>
@if (User.IsInRole(ISMNewsPortal.Models.Roles.CanCreateAdmin.ToString()))
{
    @Html.ActionLink(Language.Language.CreateNAdmin, "CreateAdmin", "Admin", new { }, new { @class = "btn btn-outline-dark" })
}
<br />
<br />

@if (Model.AdminViewModels.Any())
{
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
        @foreach (ISMNewsPortal.Models.AdminViewModel adminView in Model.AdminViewModels)
        {
            <div class="col mb-4">
                <div class="card border-dark admin-list-item" style="max-width: 18rem;">
                    <div class="card-header">@Language.Language.Login: @adminView.Login</div>
                    <div class="card-body text-dark">
                        <p class="card-text">@Language.Language.AdminId: @adminView.Id</p>
                        <p class="card-text">@Language.Language.Email: @adminView.Email</p>
                        @if (adminView.Roles.Any())
                        {
                            <p class="card-text">@Language.Language.Roles:</p>
                            <ul class="list-group">
                                @foreach (string role in adminView.Roles)
                                {
                                    <li class="list-group-item">
                                        @AdminHelper.GetLocalizedRoleName(role)
                                    </li>
                                }
                            </ul>
                        }
                    </div>
                    <div class="card-footer">
                        @if (User.IsInRole(ISMNewsPortal.Models.Roles.CanEditAdmin.ToString()))
                        {
                            @Html.ActionLink(Language.Language.Edit, "EditAdmin", "Admin", new { @id = adminView.Id }, new { @class = "btn btn-outline-dark btn-sm" })
                        }
                        @if (User.IsInRole(ISMNewsPortal.Models.Roles.CanCreateAdmin.ToString()))
                        {
                            @Html.ActionLink(Language.Language.Delete, "DeleteAdmin", "Admin", new { @id = adminView.Id }, new { @class = "btn btn-outline-danger btn-sm doubleClickLink" })

                        }
                    </div>
                </div>
            </div>
        }
    </div>
}
<script src="~/Scripts/doubleClickLink.js"></script>
