@model ISMNewsPortal.Models.AdminViewModelCollection

@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<h1>Admin list</h1>
@Html.ActionLink("Create new Admin!", "CreateAdmin", "Admin", new { }, new { })
@if (Model.AdminViewModels.Any())
{
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
        @foreach (ISMNewsPortal.Models.AdminViewModel adminView in Model.AdminViewModels)
        {
            <div class="col mb-4">
                <div class="card border-dark" style="max-width: 18rem;">
                    <div class="card-header">Login: @adminView.Login</div>
                    <div class="card-body text-dark">
                        <p class="card-text">Admin Id: @adminView.Id</p>
                        <p class="card-text">Email: @adminView.Email</p>
                    </div>
                    @if(adminView.Roles.Any()){
                        <p>Roles:</p>
                        <ul>
                            @foreach (string role in adminView.Roles)
                            {
                                <li>@role</li>
                            }
                        </ul>
                    }
                    <div class="card-footer">
                        @Html.ActionLink("Edit", "EditAdmin", "Admin", new { @id = adminView.Id }, new { @class = "btn btn-outline-dark btn-sm" })
                        @Html.ActionLink("Delete", "DeleteAdmin", "Admin", new { @id = adminView.Id }, new { @class = "btn btn-outline-danger btn-sm doubleClickLink" })
                    </div>
                </div>
            </div>
        }
    </div>
}
<script src="~/Scripts/doubleClickLink.js"></script>