@model ISMNewsPortal.Models.AdminViewModelCollection

@{
    Layout = "~/Views/Shared/_Admin.cshtml";
    ViewBag.Title = "Admin list";
}
<h1>Admin list</h1>
@if (User.IsInRole(ISMNewsPortal.Models.Roles.CanCreateAdmin.ToString()))
{
    @Html.ActionLink("Create new Admin!", "CreateAdmin", "Admin", new { }, new { @class = "btn btn-outline-primary" })
}
<hr />

@if (Model.AdminViewModels.Any())
{
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
        @foreach (ISMNewsPortal.Models.AdminViewModel adminView in Model.AdminViewModels)
        {
            <div class="col mb-4">
                <div class="card border-dark admin-list-item" style="max-width: 18rem;">
                    <div class="card-header">Login: @adminView.Login</div>
                    <div class="card-body text-dark">
                        <p class="card-text">Admin Id: @adminView.Id</p>
                        <p class="card-text">Email: @adminView.Email</p>
                        @if (adminView.Roles.Any())
                        {
                            <p class="card-text">Roles:</p>
                            <ul class="list-group">
                                @foreach (string role in adminView.Roles)
                                {
                                    <li class="list-group-item">@role</li>
                                }
                            </ul>
                        }
                    </div>
                    <div class="card-footer">
                        @if (User.IsInRole(ISMNewsPortal.Models.Roles.CanEditAdmin.ToString()))
                        {
                            @Html.ActionLink("Edit", "EditAdmin", "Admin", new { @id = adminView.Id }, new { @class = "btn btn-outline-dark btn-sm" })
                        }
                        @if (User.IsInRole(ISMNewsPortal.Models.Roles.CanCreateAdmin.ToString()))
                        {
                            @Html.ActionLink("Delete", "DeleteAdmin", "Admin", new { @id = adminView.Id }, new { @class = "btn btn-outline-danger btn-sm doubleClickLink" })

                        }
                    </div>
                </div>
            </div>
        }
    </div>
}
<script src="~/Scripts/doubleClickLink.js"></script>
