@model ISMNewsPortal.Models.CommentViewModelCollection

@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<!--Стилізувати-->
<!--ГОТОВО-->
<h1>Comments list</h1>
<p>Comments count: @Model.CommentsCount</p>
<p>Pages: @Model.Pages</p>
@using (Html.BeginForm("Comments", "Admin", FormMethod.Get, new { }))
{
    <div class="form-row align-items-center">
        <div class="col-auto">
            <label for="inlineFormInput">Move to page</label>
        </div>
        <div class="col-auto">
            <input type="number" class="form-control mb-2" id="page" name="page" min="1" max="@Model.Pages" value="@Model.Page" />
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-dark mb-2">Submit</button>
        </div>
    </div>
}
@if (Model.CommentViewModels.Any())
{
    foreach (ISMNewsPortal.Models.CommentViewModel comment in Model.CommentViewModels)
    {
        <!--Стилізувати!-->
        <!--Варто зробити більш компактним-->
        <!--ГОТОВО-->
        <div class="card">
            <div class="card-header">
                @comment.Author
            </div>
            <div class="card-body">
                <p class="card-text">
                    @comment.Text
                </p>
                <p class="card-text">
                    <small class="text-muted">
                        @comment.Date
                    </small>
                </p>
            </div>
            <div class="card-footer">
                <div class="btn-group" role="group">
                    @Html.ActionLink("Details", "CommentDetails", "Admin", new { @id = comment.Id }, new { @class = "btn btn-outline-secondary btn-sm" })
                    @Html.ActionLink("Move to post", "Details", "News", new { @id = comment.NewsPostId }, new { @class = "btn btn-outline-secondary btn-sm" })
                    @Html.ActionLink("Details", "CommentDetails", "Admin", new { @id = comment.Id }, new { @class = "btn btn-outline-secondary btn-sm" })
                </div>
            </div>
        </div>
    }
}
else
{
    <p>No comments</p>
}
<!--Стилізувати-->
<!--ГОТОВО-->
<div class="btn-group" role="group">
    @if (Model.Page > 0)
    {
        @Html.ActionLink("Last page", "Comments", "Admin", new { @page = Model.Page - 1 }, new { @class = "btn btn-outline-dark" });
    }
    @if (Model.Page > 1 && Model.Pages > 2)
    {
        @Html.ActionLink("First page", "Comments", "Admin", new { @page = 0 }, new { @class = "btn btn-outline-dark" });
    }
    @if (Model.Page < Model.Pages - 1)
    {
        @Html.ActionLink("Next page", "Comments", "Admin", new { @page = Model.Page + 1 }, new { @class = "btn btn-outline-dark" });
    }
</div>

