@model ISMNewsPortal.Models.CommentViewModelCollection

@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<h1>Comments list</h1>
@if (Model.CommentViewModels.Any())
{
    foreach (ISMNewsPortal.Models.CommentViewModel comment in Model.CommentViewModels)
    {
        <hr />
        <div class="news-item">
            <h2>ID: @comment.Id</h2>
        </div>
        <div class="card">
            <div class="card-header">
                <!--Стилізувати!-->
                <p>@comment.Author</p>
            </div>
            <div class="card-body">
                <p class="card-text">
                    @comment.Text
                </p>
                <p class="card-text">
                    <small class="text-muted">
                        @comment.Date
                    </small>
                </p>
            </div>
        </div>
    }
}
else
{
    <p>No comments</p>
}
<!--Стилізувати-->
@if (Model.Page > 0)
{
    @Html.ActionLink("Last page", "Comments", "Admin", new {@page = Model.Page - 1 }, new { });
}
@if (Model.Page > 1 && Model.Pages > 2)
{
    @Html.ActionLink("First page", "Comments", "Admin", new {@page = 0 }, new { });
}
@if (Model.Page < Model.Pages - 1)
{
    @Html.ActionLink("Next page", "Comments", "Admin", new {@page = Model.Page + 1 }, new { });
}