@model ISMNewsPortal.Models.CommentViewModelCollection

@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<!--Стилізувати-->
<!--ГОТОВО-->
<h1>Comments list</h1>
<p>Comments count: @Model.CommentsCount</p>
<p>Pages: @Model.Pages</p>
@using (Html.BeginForm("Comments", "Admin", FormMethod.Get, new { }))
{
    <div class="form-row align-items-center">
        <div class="col-auto">
            <label for="inlineFormInput">Move to page</label>
        </div>
        <div class="col-auto">
            <input type="number" class="form-control mb-2" id="page" name="page" min="0" max="@(Model.Pages - 1)" value="@Model.Page" />
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-dark mb-2">Move!</button>
        </div>
    </div>
}

<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown drop-flex">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filter by...
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    @Html.ActionLink("Today", "Comments", "Admin", new { @filter = "today", @page = Model.Page, @sortType = Model.SortType }, new { @class = "dropdown-item" })
                    @Html.ActionLink("Yesterday", "Comments", "Admin", new { @filter = "yesterday", @page = Model.Page, @sortType = Model.SortType }, new { @class = "dropdown-item" })
                    @Html.ActionLink("This week", "Comments", "Admin", new { @filter = "week", @page = Model.Page, @sortType = Model.SortType }, new { @class = "dropdown-item" })
                    @Html.ActionLink("All", "Comments", "Admin", new { @page = Model.Page, @sortType = Model.SortType }, new { @class = "dropdown-item" })
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort by...
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    @Html.ActionLink("Username", "Comments", "Admin", new { @sortType = "username", @page = Model.Page, @filter = Model.Filter }, new { @class = "dropdown-item" })
                    @Html.ActionLink("Commentary text", "Comments", "Admin", new { @sortType = "text", @page = Model.Page, @filter = Model.Filter }, new { @class = "dropdown-item" })
                    @Html.ActionLink("News post", "Comments", "Admin", new { @sortType = "news post", @page = Model.Page, @filter = Model.Filter }, new { @class = "dropdown-item" })
                    @Html.ActionLink("Id", "Comments", "Admin", new { @sortType = "id", @page = Model.Page, @filter = Model.Filter }, new { @class = "dropdown-item" })
                    @Html.ActionLink("Date", "Comments", "Admin", new { @page = Model.Page, @filter = Model.Filter }, new { @class = "dropdown-item" })
                </div>
            </li>
        </ul>
        @using (Html.BeginForm("Comments", "Admin", FormMethod.Get, new { @class = "form-inline my-2 my-lg-0" }))
        {
            @Html.Hidden("sortType", Model.SortType);
            @Html.Hidden("filter", Model.Filter);
            @Html.Hidden("page", Model.Page);
            <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search" value="@Model.Search">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
        }
    </div>
</nav>

@if (Model.CommentViewModels.Any())
{
    foreach (ISMNewsPortal.Models.CommentViewModel comment in Model.CommentViewModels)
    {
        <!--Стилізувати!-->
        <!--Варто зробити більш компактним-->
        <!--ГОТОВО-->
        <div class="card">
            <div class="card-header">
                @comment.Author
            </div>
            <div class="card-body">
                <p class="card-text">
                    @comment.Text
                </p>
                <p class="card-text">
                    <small class="text-muted">
                        @comment.Date
                    </small>
                </p>
            </div>
            <div class="card-footer">
                <div class="btn-group" role="group">
                    @Html.ActionLink("Details", "CommentDetails", "Admin", new { @id = comment.Id }, new { @class = "btn btn-outline-secondary btn-sm" })
                    @Html.ActionLink("Move to post", "Details", "News", new { @id = comment.NewsPostId }, new { @class = "btn btn-outline-secondary btn-sm" })
                    @Html.ActionLink("Details", "CommentDetails", "Admin", new { @id = comment.Id }, new { @class = "btn btn-outline-secondary btn-sm" })
                </div>
            </div>
        </div>
    }
}
else
{
    <p>No comments</p>
}
<!--Стилізувати-->
<!--ГОТОВО-->
<div class="btn-group" role="group">
    @if (Model.Page > 0)
    {
        @Html.ActionLink("Last page", "Comments", "Admin", new { @page = Model.Page - 1 }, new { @class = "btn btn-outline-dark" });
    }
    @if (Model.Page > 1 && Model.Pages > 2)
    {
        @Html.ActionLink("First page", "Comments", "Admin", new { @page = 0 }, new { @class = "btn btn-outline-dark" });
    }
    @if (Model.Page < Model.Pages - 1)
    {
        @Html.ActionLink("Next page", "Comments", "Admin", new { @page = Model.Page + 1 }, new { @class = "btn btn-outline-dark" });
    }
</div>

