@model ISMNewsPortal.Models.NewsPostCreateModel


@{
    Layout = "~/Views/Shared/_Admin.cshtml";
    ViewBag.Title = "Create news post";
}

<h3>Create news post!</h3>
<div class="col-md-offset-2 col-md-10">
    <img id="imageElement" class="post-img" alt="no image" />
</div>
@using (Html.BeginForm("CreateNews", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="card">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="card-body">
            <div class="form-group">
                <div class="col-md-12 input-create">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "card-title generateCharacterCount", @placeholder = "News post name" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger card-title" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 input-create">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "card-text generateCharacterCount", @placeholder = "News post description" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger card-text" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PublicationDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.PublicationDate, new { htmlAttributes = new { @type = "datetime-local", @class = "card-text", @placeholder = "dd/mm/yyyy hh:mm:ss" } })
                    @Html.ValidationMessageFor(model => model.PublicationDate, "", new { @class = "text-danger card-text" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.IsVisible, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.IsVisible, new { htmlAttributes = new { @class = "card-text" } })
                    @Html.ValidationMessageFor(model => model.IsVisible, "", new { @class = "text-danger card-text" })
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <label class="btn btn-outline-secondary">
                Choose image file
                <input type="file" class="btn btn-outline-secondary" name="uploadFiles" id="imagePath" accept=".png, .jpg, .jpeg" />
            </label>
            @Html.ValidationMessageFor(model => model.uploadFiles, "", new { @class = "text-danger card-text" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-outline-dark" />
        </div>
    </div>
}
<script src="~/Scripts/imageUpdater.js"></script>
<script src="~/Scripts/generator.js"></script>
