@model ISMNewsPortal.Models.AdminViewModel
@{
    ViewBag.Title = "Delete admin";
}
<div class="card-header">Login: @Model.Login</div>
<div class="card-body text-dark">
    <p class="card-text">Admin Id: @Model.Id</p>
    <p class="card-text">Email: @Model.Email</p>
</div>
@if (Model.Roles.Any())
{
    <p>Roles:</p>
    <ul>
        @foreach (string role in Model.Roles)
        {
            <li>@role</li>
        }
    </ul>
}

<h1>Are you sure?</h1>
@Html.ActionLink("Yes", "DeleteAdminSured", "Admin", new { @id = Model.Id }, new { @class = "btn btn-outline-danger" })
@Html.ActionLink("No", "AdminList", "Admin", new { }, new { @class = "btn btn-outline-primary" })