@model ISMNewsPortal.Models.NewsPostAdminView

@{
    Layout = "~/Views/Shared/_Admin.cshtml";
    ViewBag.Title = Language.Language.DeleteNewsPost;
}
<img src="@Model.ImagePath" class="post-img" alt="Post image">

<br />
<h1>@Language.Language.SureQ</h1>
@Html.ActionLink(Language.Language.Yes, "DeleteNewsPost", "Admin", new { @id = Model.Id }, new { @class = "btn btn-outline-danger" })
@Html.ActionLink(Language.Language.No, "Index", "Admin", null, new { @class = "btn btn-outline-dark" })
<br />

<br />
<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Html.Raw(Model.Description)</p>
        <p class="card-text">
            <small class="text-muted">
                <span class="js_date">@Model.CreatedDate.ToString("u").Replace('-', '/')</span>
                @if (Model.EditDate != null)
                {
                    <br>
                    <span>@Language.Language.PostEdited: <span class="js_date">@(Model.EditDate?.ToString("u").Replace('-', '/')) </span></span>
                }
            </small>
        </p>
    </div>
</div>
<script src="~/Scripts/dateTimeUpdater.js"></script>
<hr />