@model ISMNewsPortal.Models.AdminViewModel
@{
    ViewBag.Title = Language.Language.DeleteAdmin;
}
<div class="card-header">@Language.Language.Login: @Model.Login</div>
<div class="card-body text-dark">
    <p class="card-text">@Language.Language.AdminId: @Model.Id</p>
    <p class="card-text">@Language.Language.Email: @Model.Email</p>
</div>
@if (Model.Roles.Any())
{
    <p>@Language.Language.Roles:</p>
    <ul>
        @foreach (string role in Model.Roles)
        {
        <li>
            @switch (role.ToString())
            {
                case "Creator":
                    @Language.Language.Creator
                    break;
                case "Administrator":
                    @Language.Language.Administrator
                    break;
                case "Moderator":
                    @Language.Language.Moderator
                    break;
                case "CanEditAdmin":
                    @Language.Language.CanEditAdmin
                    break;
                case "CanSetAdminRole":
                    @Language.Language.CanSetAdminRole
                    break;
                case "CanCreateAdmin":
                    @Language.Language.CanCreateAdmin
                    break;
            }
        </li>
        }
    </ul>
}

<h1>@Language.Language.SureDeleteAdmin</h1>
@Html.ActionLink(Language.Language.Yes, "DeleteAdminSured", "Admin", new { @id = Model.Id }, new { @class = "btn btn-outline-danger" })
@Html.ActionLink(Language.Language.No, "AdminsList", "Admin", new { }, new { @class = "btn btn-outline-primary" })