@model ISMNewsPortal.Models.NewsPostEditModel

@{
    Layout = "~/Views/Shared/_Admin.cshtml";
    ViewBag.Title = "Edit news";
    DateTime publishDate = Model.PublicationDate ?? DateTime.Now;
    string publicationDate = publishDate.ToString("s");
}
<h4>Edit news post!</h4>
@Html.ActionLink("Manage comments", "Comments", "Admin", new { @postId = Model.Id }, new { @class = "btn btn-outline-dark btn-sm" })
<img id="imageElement" class="post-img edit-img" alt="no image" src="@Model.ImagePath" />

@using (Html.BeginForm("EditNews", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "main_form" }))
{

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.AuthorId)
        @Html.HiddenFor(model => model.CreatedDate)
        @Html.HiddenFor(model => model.ImageId)

        @Html.AntiForgeryToken()

        <div class="card">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="card-body">
                <div class="form-group">
                    <div class="col-md-12 input-edit">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "card-title generateCharacterCount", @placeholder = "News post name" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger card-title" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 input-edit">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "card-text generateCharacterCount", @placeholder = "News post description" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger card-text" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PublicationDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                <input type="datetime-local" value=@publicationDate class="card-text submit_date" , placeholder="dd/mm/yyyy hh:mm" name="PublicationDate" />
                @Html.ValidationMessageFor(model => model.PublicationDate, "", new { @class = "text-danger card-text" })
            </div>
        </div>
        <div class="form-group form-check">
            <div class="col-md-12 custom-control custom-checkbox">
                @Html.EditorFor(model => model.IsVisible, new { htmlAttributes = new { @class = "custom-control-input" } })
                @Html.LabelFor(model => model.IsVisible, htmlAttributes: new { @class = "custom-control-label" })
                @Html.ValidationMessageFor(model => model.IsVisible, "", new { @class = "text-danger card-text" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label class="btn btn-outline-secondary">
                    Choose image file
                    <input type="file" class="btn btn-outline-dark" name="uploadFiles" id="imagePath" accept=".png, .jpg, .jpeg" />
                </label>
                @Html.ValidationMessageFor(model => model.uploadFiles, "", new { @class = "text-danger card-text" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-outline-dark" />
                @Html.ActionLink("Return", "Index", null, new { @class = "btn btn-outline-primary" })
            </div>
        </div>
    </div>
}
<script src="~/Scripts/dateTimeUpdater.js"></script>
<script src="~/Scripts/imageUpdater.js"></script>
<script src="~/Scripts/generator.js"></script>
<script src="~/Scripts/wysiwyg/nicEdit.js"></script>