@model ISMNewsPortal.Models.NewsPostAdminCollection

@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<h1>News list</h1>
@Html.ActionLink("Create news", "CreateNews", "Admin", new { }, null)
<hr />
@if (Model.NewsPostAdminViews.Any())
{
    foreach (ISMNewsPortal.Models.NewsPostAdminView newsPost in Model.NewsPostAdminViews)
    {
        <div class="card news-item">
            <h2>ID: @newsPost.Id</h2>
            @if (Model.ViewActionLinks)
            {
                @Html.ActionLink("Edit", "Edit", "Admin", new { @id = newsPost.Id }, null)
                <br />
                @Html.ActionLink("Details", "Details", "News", new { @id = newsPost.Id }, null)
                <br />
                @Html.ActionLink("Delete", "DeleteRequest", "Admin")
                <br />
            }
            <p>Author: @newsPost.AuthorName</p>
            <p>Author id: @newsPost.AuthorId</p>
            <p>Create date: @newsPost.CreatedDate</p>
            @if (newsPost.EditDate != null)
            {
                <p>Last edit date: @newsPost.EditDate</p>
            }
            @Html.Partial("~/Views/News/_NewsSimplifyPartial.cshtml", newsPost)
        </div>

    }
}
else
{
    <h2>No news</h2>
}