@model ICollection<ISMNewsPortal.Models.NewsPostAdminView>

@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<h1>News list</h1>
@if (Model.Any())
{
    foreach (ISMNewsPortal.Models.NewsPostAdminView newsPost in Model)
    {
        <hr />
        <div class="news-item">
            <h2>ID: @newsPost.Id</h2>
            @Html.ActionLink("Edit", "Edit", "Admin", new { @id = newsPost.Id }, null)
            @Html.ActionLink("Edit", "Edit", "Admin")
            @Html.ActionLink("Edit", "Edit", "Admin")
            <p>Author: @newsPost.AuthorName</p>
            <p>Author id: @newsPost.AuthorId</p>
            <p>Create date: @newsPost.CreatedDate</p>
            @if (newsPost.EditDate != null)
            {
                <p>Last edit date: @newsPost.EditDate</p>
            }
            <p>Is for registered: @newsPost.ForRegistered</p>
            <img src="@newsPost.ImagePath" alt="new-image" width="100" height="100" />
            @Html.ActionLink(newsPost.Name, "Details", "News", new { id = newsPost.Id }, new { })
            <p>@newsPost.Descrition.Substring(0, 256)...</p>
            <p>Likes count: @newsPost.LikesCount</p>
            <p>Comments count: @newsPost.CommentsCount</p>
        </div>

    }
}
else
{
    <h2>No news</h2>
}