@model ISMNewsPortal.Models.NewsPostSimplifiedCollection

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ACME COSMETICS</h1>
</div>

<div class="wrapper">

    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown drop-flex">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filter by...
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @Html.ActionLink("Today", "Index", "Home", new { @filter = "today", @page = Model.Page, @sortType = Model.SortType }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Yesterday", "Index", "Home", new { @filter = "yesterday", @page = Model.Page, @sortType = Model.SortType }, new { @class = "dropdown-item" })
                        @Html.ActionLink("This week", "Index", "Home", new { @filter = "week", @page = Model.Page, @sortType = Model.SortType }, new { @class = "dropdown-item" })
                        @Html.ActionLink("All", "Index", "Home", new { @page = Model.Page, @sortType = Model.SortType }, new { @class = "dropdown-item" })
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort by...
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @Html.ActionLink("Name", "Index", "Home", new { @sortType = "name", @page = Model.Page, @filter = Model.Filter }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Description", "Index", "Home", new { @sortType = "description", @page = Model.Page, @filter = Model.Filter }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Date", "Index", "Home", new { @page = Model.Page, @filter = Model.Filter }, new { @class = "dropdown-item" })
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    @if (Model.NewsPostSimpliedViews.Any())
    {
        foreach (ISMNewsPortal.Models.NewsPostSimplifiedView newsPost in Model.NewsPostSimpliedViews)
        {
            <div class="card news-item">
                @Html.Partial("~/Views/News/_NewsSimplifyPartial.cshtml", newsPost)
            </div>
        }
    }
    <!--Стилізувати-->
    @if (Model.Page > 0)
    {
        @Html.ActionLink("Previous page", "Index", "Home", new { sortType = Model.SortType, @page = Model.Page - 1, @filter = Model.Filter }, new { });
    }
    @if (Model.Page > 1 && Model.Pages > 2)
    {
        @Html.ActionLink("First page", "Index", "Home", new { sortType = Model.SortType, @page = 0, @filter = Model.Filter }, new { });
    }
    @if (Model.Page < Model.Pages - 1)
    {
        @Html.ActionLink("Next page", "Index", "Home", new { sortType = Model.SortType, @page = Model.Page + 1, @filter = Model.Filter }, new { });
    }
</div>