@model ISMNewsPortal.Models.NewsPostSimplifiedCollection

@{
    ViewBag.Title = "Home Page";
    string selected = "selected";
}

<div class="jumbotron">
    <h1>ACME COSMETICS</h1>
</div>

<div class="wrapper">

    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown drop-flex">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filter by...@Model.Filter
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @Html.ActionLink("Today", "Index", "Home", new { @filter = "today", @page = Model.Page, @sortType = Model.SortType, @Reversed = Model.Reversed, @Search = Model.Search }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Yesterday", "Index", "Home", new { @filter = "yesterday", @page = Model.Page, @sortType = Model.SortType, @Reversed = Model.Reversed, @Search = Model.Search }, new { @class = "dropdown-item" })
                        @Html.ActionLink("This week", "Index", "Home", new { @filter = "week", @page = Model.Page, @sortType = Model.SortType, @Reversed = Model.Reversed, @Search = Model.Search }, new { @class = "dropdown-item" })
                        @Html.ActionLink("All", "Index", "Home", new { @page = Model.Page, @sortType = Model.SortType, @Reversed = Model.Reversed, @Search = Model.Search }, new { @class = "dropdown-item" })
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort by...
                        @if (Model.SortType != null)
                        {
                            @Model.SortType
                            if (Model.Reversed == true)
                            {
                                <span> DESC</span>
                            }
                            else
                            {
                                <span> ASC</span>
                            }
                        }
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @Html.ActionLink("Name ASC", "Index", "Home", new { @sortType = "name", @page = Model.Page, @filter = Model.Filter, @Search = Model.Search, @Reversed = false }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Name DESC", "Index", "Home", new { @sortType = "name", @page = Model.Page, @filter = Model.Filter, @Search = Model.Search, @Reversed = true }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Description ASC", "Index", "Home", new { @sortType = "description", @page = Model.Page, @filter = Model.Filter, @Search = Model.Search, @Reversed = false }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Description DESC", "Index", "Home", new { @sortType = "description", @page = Model.Page, @filter = Model.Filter, @Search = Model.Search, @Reversed = true }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Date ASC", "Index", "Home", new { @sortType = "date", @page = Model.Page, @filter = Model.Filter, @Search = Model.Search }, new { @class = "dropdown-item", @Reversed = false })
                        @Html.ActionLink("Date DESC", "Index", "Home", new { @sortType = "date", @page = Model.Page, @filter = Model.Filter, @Search = Model.Search, @Reversed = true }, new { @class = "dropdown-item", @Reversed = true })
                    </div>
                </li>
                @if (Model.Filter != null || Model.SortType != null)
                {
                    @Html.ActionLink("Reset", "Index", "Home", new { }, new { @class = "nav-link" })
                }
            </ul>
            @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "form-inline my-2 my-lg-0" }))
            {
                <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search" value="@Model.Search">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
            }
        </div>
    </nav>

    @if (Model.NewsPostSimpliedViews.Any())
    {
        foreach (ISMNewsPortal.Models.NewsPostSimplifiedView newsPost in Model.NewsPostSimpliedViews)
        {
            <div class="card news-item">
                @Html.Partial("~/Views/News/_NewsSimplifyPartial.cshtml", newsPost)
            </div>
        }
        <script src="~/Scripts/dateTimeUpdater.js"></script>
    }
    else
    {
        <h2>No news</h2>
    }

    <div class="btn-group" role="group">
        @if (Model.Page > 5)
        {
            @Html.ActionLink("<<", "Index", "Home", new
            {
                @SortType = Model.SortType,
                @Filter = Model.Filter,
                @Search = Model.Search,
                @Reversed = Model.Reversed
            }, new { @class = "btn btn-outline-dark" });
        }
    </div>

    <div class="btn-group" role="group">
        @if (Model.Page > 0)
        {
            @Html.ActionLink("<", "Index", "Home", new
            {
                @Page = Model.Page - 1,
                @SortType = Model.SortType,
                @Filter = Model.Filter,
                @Search = Model.Search,
                @Reversed = Model.Reversed
            }, new { @class = "btn btn-outline-dark" }); ;
        }
    </div>

    <div class="btn-group" role="group">
        @for (int page = ((Model.Page > 4) ? Model.Page - 5 : 0); (page < Model.Page + 5 && page < Model.Pages); page++)
        {
            @Html.ActionLink((page + 1).ToString(), "Index", "Home", new
            {
                @page = page,
                @SortType = Model.SortType,
                @Filter = Model.Filter,
                @Search = Model.Search,
                @Reversed = Model.Reversed
            }, new { @class = ((page == Model.Page) ? "btn btn-dark btn-sm" : "btn btn-primary btn-sm") });
        }
    </div>

    <div class="btn-group" role="group">
        @if (Model.Page < Model.Pages - 1)
        {
            @Html.ActionLink(">", "Index", "Home", new
            {
                @Page = Model.Page + 1,
                @SortType = Model.SortType,
                @Filter = Model.Filter,
                @Search = Model.Search,
                @Reversed = Model.Reversed
            }, new { @class = "btn btn-outline-dark" }); ;
        }
    </div>
</div>
