<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            @Html.ActionLink("ACME COSMETICS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            @if (User.Identity.IsAuthenticated)
            {
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            @Html.ActionLink(Language.Language.AdminPage, "Index", "Admin", null, new { @class = "btn btn-outline-secondary" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink(Language.Language.Logoff, "Logoff", "Account", null, new { @class = "btn btn-outline-secondary" })
                        </li>
                    </ul>
                </div>
            }
                <div class="btn-group" role="group">
                    @Html.ActionLink(" ", ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), new { @lang = "en", @id = ViewContext.RouteData.Values["id"] }, new { @class = "us btn btn-outline-dark btn-sm" })
                    @Html.ActionLink(" ", ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), new { @lang = "uk", @id = ViewContext.RouteData.Values["id"] }, new { @class = "ua btn btn-outline-dark btn-sm" })
                    @Html.ActionLink(" ", ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), new { @lang = "ru", @id = ViewContext.RouteData.Values["id"] }, new { @class = "ru btn btn-outline-dark btn-sm" })
                </div>
        </div>
    </nav>
</header>
