@model ISMNewsPortal.Models.UserSafeModel

<div>
    <h4>@Model.UserName</h4>
    <hr />
    @if (Model.AvatarPath != null)
    {
        <img src="@Model.AvatarPath" width="256" height="256" />
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        @if (Model.HideLogin)
        {
            <dd>
                Login is hidden
            </dd>
        }
        else
        {
            <dd>
                @Html.DisplayFor(model => model.Login)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        @if (Model.HidePhone)
        {
            <dd>
                Phone is hidden
            </dd>
        }
        else
        {
            <dd>
                @Html.DisplayFor(model => model.PhoneCountry)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>

        }

        <dt>
            @Html.DisplayNameFor(model => model.About)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.About)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>
        @if (Model.HideRegistrationDate)
        {
            <dd>
                Registration date is hidden
            </dd>
        }
        else
        {
            <dd>
                @Html.DisplayFor(model => model.RegistrationDate)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.CommentsCount)
        </dt>
        @if (Model.HideCommentsCount)
        {
            <dd>
                Comments count is hidden
            </dd>
        }
        else
        {
            <dd>
                @Html.DisplayFor(model => model.CommentsCount)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.LikesCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LikesCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsBanned)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsBanned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WarningsCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WarningsCount)
        </dd>
    </dl>
</div>