@using System.Text.RegularExpressions
@model ISMNewsPortal.Models.NewsPostSimplifiedView

@{ 
    IHtmlString htmlText = Html.Raw(Model.Description);
    string htmlString = Regex.Replace(htmlText.ToString(), "<.*?>", String.Empty);
}

<div class="row no-gutters">
    <div class="col-md-2">
        <img src="@Model.ImagePath" alt="post-image" width="100%" />
    </div>
    <div class="col-md-10">
        <div class="card-body">
            <h5 class="card-title">
                @Html.ActionLink(Model.Name, "Details", "News", new { id = Model.Id }, new { })
            </h5>
            <p class="card-text">
                @htmlString.Substring(0, (htmlString.Length < 256) ? htmlString.Length : 256)...
            </p>
            <!--Стилізувати!-->
            <p class="card-text">
                <small class="text-muted">
                    @Model.CommentsCount @Language.Language.CommentsC
                </small>
                <br>
                <small class="text-muted js_date">
                    @Model.PublicationDate.ToString("u").Replace('-', '/')
                </small>
            </p>
        </div>
    </div>
</div>