@model ISMNewsPortal.Models.NewsPostViewModel
@{
    ViewBag.Title = Model.NewsPost.Name;
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Model.NewsPost.Name</h5>
        <img src="@Model.ImagePath" class="post-img" alt="Post image">
        <p class="card-text">@Html.Raw(Html.Encode(Model.NewsPost.Description).Replace("\n", "<br />"))</p>
        <p class="card-text">
            <small class="text-muted  js_date">
                @Model.NewsPost.CreatedDate.ToString("u").Replace('-', '/')
            </small>
            @if (Model.NewsPost.EditDate != null)
            {
                <small class="text-muted">Post edited: 
                    <span class="js_date">@(Model.NewsPost.EditDate?.ToString(" u").Replace('-', '/' ))</span>
                </small>
            }
        </p>
    </div>
</div>

<hr id="commentsLine"/>
<p>Comment count: <span id="commentsCount">@Model.Comments.Count</span></p>
@if (User.IsInRole(ISMNewsPortal.Models.Roles.Moderator.ToString()))
{
    @Html.ActionLink("Manage comments", "Comments", "Admin", new { @postId = Model.NewsPost.Id }, new { @class = "btn btn-outline-dark btn-sm" })
}
<div id="comments">
    @if (Model.Comments.Any())
    {

        foreach (ISMNewsPortal.Models.CommentViewModel comment in Model.Comments)
        {
            @Html.Partial("_Comment", comment);
        }

    }
</div>
<script src="~/Scripts/dateTimeUpdater.js"></script>
<div class="btn-group" role="group">
    @if (Model.Page > 0)
    {
        @Html.ActionLink("Last page", "Details", "News", new { @page = Model.Page - 1, @id = Model.NewsPost.Id }, new { @class = "btn btn-outline-dark" });
    }
    @if (Model.Page > 1 && Model.Pages > 2)
    {
        @Html.ActionLink("First page", "Details", "News", new { @page = 0, @id = Model.NewsPost.Id }, new { @class = "btn btn-outline-dark" });
    }
    @if (Model.Page < Model.Pages - 1)
    {
        @Html.ActionLink("Next page", "Details", "News", new { @page = Model.Page + 1, @id = Model.NewsPost.Id }, new { @class = "btn btn-outline-dark" });
    }
</div>
@Html.Partial("_CreateComment", new ISMNewsPortal.Models.CommentCreateModel() { PageId = Model.NewsPost.Id })