@model ISMNewsPortal.Models.NewsPostViewModel

@Html.ActionLink(Model.Author.UserName, "Index", "Home", new { @id = Model.Author.UserId }, null)
<br />

<h1>@Model.NewsPost.Name</h1>
<h2>@Model.NewsPost.CreatedDate</h2>
<h3>Likes count: @Model.NewsPost.LikesCount</h3>
@if (Model.IsLiked)
{
    @Html.ActionLink("Unlike!", "LikePost", "News", new { @id = Model.NewsPost.Id }, new { style = "color: red;"});
}
else
{
    @Html.ActionLink("Like!", "LikePost", "News", new { @id = Model.NewsPost.Id }, new { });
}
@if (Model.NewsPost.EditDate != null)
{
    <h2>Post edited: @Model.NewsPost.EditDate</h2>
}
<br />
<img src="@Model.NewsPost.ImagePath" />

<!--Поки не трогать-->
@Model.NewsPost.Descrition
<!---->

<hr />
<p>Commens count: @Model.NewsPost.CommentsCount</p>
@if (Model.Comments.Any())
{
    foreach (ISMNewsPortal.Models.CommentViewModel comment in Model.Comments)
    {
        <hr />
        @Html.ActionLink(comment.Author.UserName, "Index", "Home", new { @id = comment.Author.UserId }, new { });
        <h2>@comment.Date</h2>
        if (comment.IsEdited)
        {
            <p>Edited</p>
        }
        if (comment.Editable)
        {
            @Html.ActionLink("Edit", "EditComment", "News", new { @id = comment.Id }, new { })
            @Html.ActionLink("Delete", "DeleteComment", "News", new { @id = comment.Id, @pageId = Model.NewsPost.Id }, new { })
        }
        <p>@comment.Text</p>
    }
}
@Html.Partial("_Comment", new ISMNewsPortal.Models.CommentModel() { PageId = Model.NewsPost.Id })