@model ISMNewsPortal.Models.NewsPostViewModel

<img src="@Model.NewsPost.ImagePath" class="post-img" alt="Post image">

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Model.NewsPost.Name</h5>
        <p class="card-text">@Model.NewsPost.Description</p>
        <p class="card-text">
            <small class="text-muted">
                @Model.NewsPost.CreatedDate
                @if (Model.NewsPost.EditDate != null)
                {
                    <span>Post edited: @Model.NewsPost.EditDate</span>
                }
            </small>
        </p>
    </div>
</div>

<!--Поки не трогать
@Model.NewsPost.Description
-->

<hr />
<p>Commens count: @Model.Comments.Count</p>
@if (Model.Comments.Any())
{
    foreach (ISMNewsPortal.Models.CommentViewModel comment in Model.Comments)
    {
        <div class="card">
            <div class="card-header">
                <!--Стилізувати!-->
                <p>@comment.Author</p>
            </div>
            <div class="card-body">
                <p class="card-text">
                    @comment.Text
                </p>
                <p class="card-text">
                    <small class="text-muted">
                        @comment.Date
                    </small>
                </p>
            </div>
        </div>
    }
}
@Html.Partial("_Comment", new ISMNewsPortal.Models.CommentCreateModel() { PageId = Model.NewsPost.Id })