@model ISMNewsPortal.Models.NewsPostViewModel
@{
    ViewBag.Title = Model.NewsPost.Name;
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Model.NewsPost.Name</h5>
        <img src="@Model.ImagePath" class="post-img" alt="Post image">
        <p class="card-text">@Html.Raw(Model.NewsPost.Description)</p>
        <p class="card-text">
            <small class="text-muted  js_date">
                @Model.NewsPost.PublicationDate.ToString("u").Replace('-', '/')
            </small>
            @if (Model.NewsPost.EditDate != null)
            {
                <br>
                <small class="text-muted">
                    @Language.Language.PostEdited:
                    <span class="js_date">@(Model.NewsPost.EditDate?.ToString("u").Replace('-', '/' ))</span>
                </small>
            }
        </p>
    </div>
</div>

<p>@Language.Language.CommentsCount: <span id="commentsCount">@Model.CommentsCount</span></p>
@if (User.IsInRole(ISMNewsPortal.Models.Roles.Moderator.ToString()))
{
    @Html.ActionLink(Language.Language.ManageComments, "Comments", "Admin", new { @id = Model.NewsPost.Id }, new { @class = "btn btn-outline-dark btn-sm" })
}
<div id="comments">
    @if (Model.Comments.Any())
    {
        foreach (ISMNewsPortal.Models.CommentViewModel comment in Model.Comments)
        {
            @Html.Partial("_Comment", comment);
        }

    }
</div>
<script>
    function SuccessRemoveComment(id) {
        let textareaField = document.querySelector("#" + id);
        commentsCount.innerHTML = +commentsCount.innerHTML - 1;
        textareaField.parentNode.removeChild(textareaField);
    }
</script>
<script src="~/Scripts/dateTimeUpdater.js"></script>
<div class="btn-group" role="group">
    @if (Model.Page > 1)
    {
        @Html.ActionLink("Last page", "Details", "News", new { @page = Model.Page - 1, @id = Model.NewsPost.Id }, new { @class = "btn btn-outline-dark" });
    }
    @if (Model.Page > 2 && Model.Pages > 2)
    {
        @Html.ActionLink("First page", "Details", "News", new { @page = 1, @id = Model.NewsPost.Id }, new { @class = "btn btn-outline-dark" });
    }
    @if (Model.Page < Model.Pages)
    {
        @Html.ActionLink("Next page", "Details", "News", new { @page = Model.Page + 1, @id = Model.NewsPost.Id }, new { @class = "btn btn-outline-dark" });
    }
</div>
@Html.Partial("_CreateComment", new ISMNewsPortal.Models.CommentCreateModel() { PageId = Model.NewsPost.Id })