@model ISMNewsPortal.Models.NewsPostViewModel

@Html.ActionLink(Model.Author.UserName, "Details", "Account", new { @id = Model.Author.UserId }, new { @class = "user-link" })
<br />

<img src="@Model.NewsPost.ImagePath" class="post-img" alt="Post image">

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Model.NewsPost.Name</h5>
        <p class="card-text">@Model.NewsPost.Descrition</p>
        <p class="card-text">
            <small class="text-muted">
                @Model.NewsPost.CreatedDate
                @if (Model.NewsPost.EditDate != null)
                {
                    <span>Post edited: @Model.NewsPost.EditDate</span>
                }
            </small>
        </p>
    </div>
    <div class="card-footer">
        @if (Model.IsLiked)
        {
            @Html.ActionLink("Unlike!", "LikePost", "News", new { @id = Model.NewsPost.Id }, new { @class = "btn btn-outline-dark" });
        }
        else
        {
            @Html.ActionLink("Like!", "LikePost", "News", new { @id = Model.NewsPost.Id }, new { @class = "btn btn-outline-danger" });
        }
        @Model.NewsPost.LikesCount likes
    </div>
</div>

<!--Поки не трогать
@Model.NewsPost.Descrition
-->

<hr />
<p>Commens count: @Model.Comments.Count</p>
@if (Model.Comments.Any())
{
    foreach (ISMNewsPortal.Models.CommentViewModel comment in Model.Comments)
    {
        <div class="card">
            <div class="card-header">
                @Html.ActionLink(comment.Author.UserName, "Details", "Account", new { @id = comment.Author.UserId }, new { @class = "user-link" })
            </div>
            <div class="card-body">
                <p class="card-text">
                    @comment.Text
                </p>
                <p class="card-text">
                    <small class="text-muted">
                        @comment.Date
                        @if (comment.IsEdited)
                        {
                            <span>(edited)</span>
                        }
                    </small>
                </p>
            </div>
            <div class="card-footer">
                @if (comment.Editable)
                {
                    <span>
                        @Html.ActionLink("Edit", "EditComment", "News", new { @id = comment.Id }, new { @class = "btn btn-outline-primary" })
                    </span>
                    <span>
                        @Html.ActionLink("Delete", "DeleteComment", "News", new { @id = comment.Id, @postId = Model.NewsPost.Id }, new { @class = "btn btn-outline-danger" })
                    </span>
                }
            </div>
        </div>
    }
}
@Html.Partial("_Comment", new ISMNewsPortal.Models.CommentModel() { PageId = Model.NewsPost.Id })